*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('image/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.menu{
    background-color: #F0B27A;
    width: 35%;
    padding: 20px;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.year {
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
}
img{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.price{
    color: #C0392B;
    text-indent: 10%;
}
a{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    margin: 0 auto;
    
}
.address{
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    margin-top: 25px;
}

.hr1{
    color: #C0392B; 
}
.hr2{
    color: #C0392B;
    margin-bottom: 25px;
}
.foot{
    text-align: center;
}